.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: transparent;
  letter-spacing: 0.5px;
  color: $white;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  order: 0;

  &:hover {
    background-color: $blue;
  }

  &.expanded {
    .chevron {
      transform: rotate(0);
    }
  }
}

:global(.dragSortList.-isDragging) {
  .header:hover {
    background-color: inherit;
  }
}

:global(.dragSortList.-isDraggingOver) {
  & ~ .header {
    background-color: rgba($gold-alt, 0.1);
  }
}

.chevron {
  width: 10px !important; // Override FA's default sizing
  transform: rotate(-90deg);
  transition: transform 0.2s ease-in-out;
}

.title-wrapper {
  display: flex;
  align-items: center;
  font-family: $primary-font;
  font-size: 17px;
  line-height: 1;
}

.title {
  margin-left: 5px;
}

.items {
  order: 3;
  margin-left: 10px;

  .title {
    font-size: 15px;
  }
}

.root-buttons {
  order: 1;
  margin: 5px 0 5px 10px;
}

.root-button {
  @include blue-button();
  height: 25px;
}
