:global(.dragSortList.-isDragging) {
  .header:hover {
    background-color: inherit;

    .actions {
      opacity: 0;
    }

    .drag-handle {
      max-width: 0 !important;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  border-left: 3px solid transparent;
  margin: 5px 0;
  transition: border-color 0.2s ease-in-out;

  &.expanded {
    border-color: $blue;

    & > .header .chevron {
      transform: rotate(0);
    }
  }

  &:not(.expanded) .header:hover .drag-handle {
    max-width: 12px;
  }
}

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: transparent;
  letter-spacing: 0.5px;
  color: $white;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $blue;

    .actions {
      opacity: 1;
    }
  }
}

.drag-handle {
  opacity: 0.6;
  overflow: hidden;
  width: 12px;
  max-width: 0;
  color: $white;
  transition: 0.2s ease-in-out;
  transition-property: max-width, opacity;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.chevron {
  transform: rotate(-90deg);
  width: 10px !important; // Override FA's default sizing
  transition: transform 0.2s ease-in-out;
}

.title {
  display: flex;
  flex: 1 1 auto;
  margin-right: 5px;
}

.title-link {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  padding: 0 0 0 5px;
  border: 0;
  margin-right: 10px;
  background: transparent;
  outline: 0;
  text-align: left;
  font-family: $primary-font;
  font-size: 15px;
  line-height: 1;
  color: $white;
}

.title-label {
  margin-left: 5px;
}

.items {
  margin-left: 10px;

  .title {
    font-size: 15px;
  }
}

.root-buttons {
  display: flex;
  align-items: center;
  margin: 5px 10px;
}

.root-button {
  @include blue-button();
  height: 24px;
  margin-left: 5px;
  transition: opacity 0.2s ease-in-out;

  &:first-child {
    margin-left: 0;
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}

.actions {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.action {
  opacity: 0.6;
  padding: 0 4px;
  border: 0;
  background: transparent;
  color: $white;
  transition: opacity 0.2s ease-in-out;

  &:hover,
  &:focus {
    opacity: 1;
  }
}
