.create-folder-button {
  width: 100%;
}

.header-actions {
  display: flex;
  justify-content: flex-end;
}

.folders-wrapper {
  margin: 5px 0;
}

.folder-wrapper {
  position: relative;
  padding: 5px 0;

  .folder {
    background-color: transparent;
    transition: background-color 0.2s ease;
  }

  &:global(.is-dragging) {
    z-index: 1;

    .folder {
      background-color: $blue;
    }
  }
}

.actions {
  display: flex;
}

.folders-warning {
  margin-top: 10px;
}
