.create-folder-button {
  width: 100%;
  margin-top: 5px;
}

.folders-wrapper {
  margin-top: 5px;
}

.folder-wrapper {
  position: relative;
  z-index: 0;
  padding: 5px 0;

  .folder {
    background-color: transparent;
    transition: background-color 0.2s ease;
  }

  &:global(.is-dragging) {
    z-index: 1;

    .folder {
      background-color: $blue;
    }
  }
}
