@keyframes slide-fade-in-keyframes {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin slide-fade-in {
  animation: slide-fade-in-keyframes 0.2s ease;
}
