.wrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  height: 100%;
  padding: 2px 4px;
  border: 1px solid $white;
  background-color: transparent;
  outline: none;
  font-family: $primary-font;
  color: $white;
}

.buttons {
  position: absolute;
  top: calc(50% - 8px);
  right: 7px;
  height: 16px;
}

.button {
  opacity: 0.6;
  padding: 0;
  border: 0;
  margin-left: 5px;
  background: transparent;
  color: $white;
  transition: opacity 0.2s ease-in-out;

  &:first-child {
    margin-left: 0;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}
