.container {
  width: 650px;
  padding: 20px;
  background-color: rgba(#141414, 0.8);
  color: $white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.header-title {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: $primary-font;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: $white;
}

.header-title-logo {
  height: 20px;
  margin-right: 10px;
}

.header-close {
  transform: scale(1);
  width: 20px;
  height: 25px;
  padding: 0;
  border: 0;
  background: none;
  font-size: 17px;
  color: $white;
}
