.container {
  width: 650px;
  padding: 20px;
  background-color: rgba(#141414, 0.8);
}

.header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  color: $white;
  font-family: $primary-font;
  font-size: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.header-close {
  color: $white;
  transform: scale(1);
  background: none;
  border: 0;
  padding: 0;
  height: 25px;
  width: 20px;
  font-size: 17px;
}
