.contextual-menu {
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.contextual-menu-items {
  @include fade-in;
  position: fixed;
  z-index: 10000;
  transform: translate(-190px, -10px);
  width: 200px;
  border: 1px solid $gray-alt;
  background-color: $gray;
}
