.contextual-menu {
  position: relative;
}

.trigger {
  display: flex;
  z-index: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.items {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 5px 20px 5px 5px;
  border: 1px solid $gray-alt;
  background-color: $gray;
}
