.contextual-menu {
  position: relative;
}

.trigger {
  z-index: 1;
  cursor: pointer;
}

.items {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  padding: 5px;
  border: 1px solid $gray-alt;
  background-color: $gray;
}
