<div local-class="contextual-menu" ...attributes>
  <div
    {{on "click" (fn this.showItems)}}
    local-class="trigger"
  >
    <FaIcon @icon="ellipsis-h" />
  </div>

  {{#animated-if this.itemsAreVisible use=this.fadeTransition duration=200}}
    <div local-class="items" {{on "mouseleave" (fn this.hideItems)}}>
      {{yield (component "contextual-menu/item")}}
    </div>
  {{/animated-if}}
</div>
