body {
  overflow-y: scroll;
}

#app {
  width: calc(100% - #{$extension-width});
  margin: 0;
}

#better-trading-container {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  width: $extension-width;
  padding: 5px 10px;
  background-color: rgba(#0a0a0a, 0.8);
}
