// Fonts
$fa-font-path: 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts';
$primary-font: 'FontinSmallcaps', serif;

// Sizes
$extension-width: 400px;

// Colors
$white: #fff;
$blue: #0f304d;
$blue-alt: #4c4c7d;
$gold: #5a3806;
$gold-alt: #8a5609;
