// Fonts
$fa-font-path: 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts';
$primary-font: 'FontinSmallcaps', serif;
$default-font: Verdana, Arial, Helvetica, sans-serif;

// Sizes
$extension-width: 400px;

// Colors
$black: #161616;
$gray: #3f3f3f;
$gray-alt: #616161;
$white: #fff;
$beige: #fff8e1;
$blue: #0f304d;
$blue-alt: #4c4c7d;
$gold: #5a3806;
$gold-alt: #8a5609;
$red: #5a0a09;
$red-alt: #6d2725;
