// Fonts
$fa-font-path: 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts';
$primary-font: 'FontinSmallcaps', serif;
$default-font: Verdana, Arial, Helvetica, sans-serif;

// Sizes
$extension-width: 400px;
$extension-y-padding: 5px;
$extension-x-padding: 10px;

// Colors
$black: #161616;
$gray: #373737;
$gray-alt: #7a7a7a;
$white: #fff;
$beige: #fff8e1;
$blue: #0f304d;
$blue-alt: #4c4c7d;
$gold: #5a3806;
$gold-alt: #8a5609;
$red: #5a0a09;
$red-alt: #6d2725;
$yellow: #666521;
$yellow-alt: #7a7921;
$green: #4b7e42;
$green-alt: #5e9954;
