body {
  overflow-y: scroll;
}

:global(#app) {
  width: calc(100% - 400px);
  margin: 0;
}

:global(#better-trading-container) {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 400px;
}
