.results.compact.two,
.results:not(.compact) {
  .resultset:not(.exchange) {
    .pull-left,
    .pull-right {
      display: block;
      float: unset !important;
    }
  }
}

.results {
  .btns {
    line-height: 2;
    //min-height: 25px;

    .pull-left,
    .pull-right {
      height: auto !important;
    }

    .pull-left {
      .status {
        display: inline !important;
      }
    }
  }
}
