.results.compact.two,
.results:not(.compact) {
  .resultset:not(.exchange) {
    .pull-left,
    .pull-right {
      display: block;
      float: unset !important;
    }

    .pull-right {
      margin-top: 7px;
    }
  }
}
