@keyframes pinned-glow-keyframes {
  0% {
    box-shadow: inset 0 0 10px 2px $blue-alt;
  }

  25% {
    box-shadow: inset 0 0 20px 10px $blue-alt;
  }

  50% {
    box-shadow: inset 0 0 10px 2px $blue-alt;
  }

  75% {
    box-shadow: inset 0 0 20px 10px $blue-alt;
  }

  100% {
    box-shadow: inset 0 0 10px 2px $blue-alt;
  }
}

.bt-pin-button {
  // This ensures the button is big enough to fit the "Unpin" text
  // without resizing when toggling between pin and unpin
  min-width: 47px !important;

  .bt-pin-button-pinned {
    display: none;
  }

  .bt-pin-button-unpinned {
    display: block;
  }
}

.bt-pinned {
  box-shadow: inset 0 0 10px 2px $blue-alt;

  .bt-pin-button-pinned {
    display: block;
  }

  .bt-pin-button-unpinned {
    display: none;
  }
}

.bt-pinned-glow {
  animation: pinned-glow-keyframes 1s ease;
}
