.wrapper {
  background-color: rgba(#141414, 0.8);

  :global(.dragSortList.-isExpanded.-isDraggingOver),
  :global(.dragSortItem.-placeholderAbove),
  :global(.dragSortItem.-placeholderBelow) {
    &::before {
      content: '.';
      width: 100%;
      background-image: linear-gradient(to right, $blue, rgba($blue, 0));
      color: $blue;
    }
  }
}

.toolbar {
  display: flex;
  margin-bottom: 5px;
}

.toolbar-button,
.toolbar-button-group {
  margin-left: 5px;

  &:first-child {
    margin-left: 0;
  }
}

.toolbar-button {
  @include gold-button($iconOnly: true);
  margin-left: 5px;

  &:first-child {
    margin-left: 0;
  }
}

.toolbar-button-group {
  display: flex;

  .toolbar-button {
    margin-left: 0;

    &:not(:first-child) {
      border-left: 0;
    }
  }
}
