<div local-class="wrapper">
  {{#each this.folders as |folder index|}}
    <div local-class="folder-wrapper">
      <BtFavoritesTree::Folder
        @folder={{folder}}
        @onUpdate={{action this.persistFavorites}}
      />
    </div>
  {{/each}}
</div>

