<label
  {{on "click" (fn this.toggleValue)}}
  local-class="wrapper"
  ...attributes
>
  <div local-class="indicator {{if @value "is-active"}}"></div>

  <span local-class="label">
    {{@label}}
  </span>
</label>
