:global(.dragSortList.-isDragging) {
  .wrapper:hover {
    background-color: inherit;

    .actions {
      opacity: 0;
    }

    .drag-handle {
      max-width: 0;
    }
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
  border: 0;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: $blue;
    text-decoration: none;

    .actions {
      opacity: 1;
    }

    .drag-handle {
      max-width: 12px;
    }
  }
}

.drag-handle {
  opacity: 0.6;
  overflow: hidden;
  width: 12px;
  max-width: 0;
  color: $white;
  transition: 0.2s ease-in-out;
  transition-property: max-width, opacity;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.title {
  display: flex;
  flex: 1 1 auto;
  margin-right: 5px;
}

.title-link {
  flex: 1 1 auto;
  border: 0;
  margin-right: 10px;
  background: transparent;
  outline: 0;
  text-align: left;
  font-family: $primary-font;
  font-size: 12px;
  color: $white;
}

.actions {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.action {
  opacity: 0.6;
  padding: 0 4px;
  border: 0;
  background: transparent;
  color: $white;
  transition: opacity 0.2s ease-in-out;

  &:hover,
  &:focus {
    opacity: 1;
  }
}
