<div local-class="wrapper">
  <button type="button" local-class="title-link" onclick={{action this.navigateToTrade}}>
    {{@trade.title}}
  </button>

  <div local-class="actions">
    <FaIcon @icon="trash-alt" local-class="action" onclick={{action @onDelete}}/>
  </div>
</div>
