.item {
  display: block;
  width: 100%;
  padding: 2px 7px;
  border: 0;
  background: none;
  text-align: left;
  white-space: nowrap;
  font-family: $default-font;
  font-size: 13px;
  font-weight: 400;
  color: $white;
  transition: 0.2s ease;
  transition-property: color, padding;

  &:hover,
  &:focus {
    padding-left: 7px;
    text-decoration: none;
    color: #cbcbcb;
  }
}
