.item {
  @include gradient-hover($gray-alt);
  display: block;
  width: 100%;
  padding: 4px 8px;
  border: 0;
  background: none;
  text-align: left;
  white-space: nowrap;
  font-family: $default-font;
  font-size: 13px;
  font-weight: 400;
  color: $white;
  transition: 0.2s ease;
  transition-property: color, padding;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
