$menu-item-count: 2;

.root-page-menu {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 10px;

  &::before {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: #{100% / $menu-item-count};
    height: 2px;
    background-color: $gold-alt;

    transition: left 0.2s ease;
  }

  @for $i from 0 to $menu-item-count {
    &[data-active-index='#{$i}']::before {
      left: #{$i * (100% / $menu-item-count)};
    }
  }
}

.menu-item {
  width: #{100% / $menu-item-count};
  padding: 5px 0 7px;
  margin: 0;
  background-color: transparent;
  text-align: center;
  color: $white;
  transition: background-color 0.2s ease;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: rgba($gold, 0.2);
  }
}
