.root-page-menu {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.menu-item {
  width: 50%;
  padding: 5px 0;
  border-bottom: 2px solid transparent;
  margin: 0;
  background-color: transparent;
  text-align: center;
  color: $white;
  transition: 0.2s ease;
  transition-property: background-color, border-color;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: rgba($gold, 0.2);
  }

  &.is-active {
    border-color: $gold-alt;
  }
}

.menu-item-icon {
  margin-right: 3px;
}
