<ul local-class="root-page-menu">
  {{#each this.menuItems as |menuItem|}}
    <li
      local-class="menu-item {{if menuItem.isActive "is-active"}}"
      {{on "click" (fn @onChange menuItem.page)}}
    >
      <FaIcon @icon={{menuItem.icon}}/>

      {{menuItem.label}}
    </li>
  {{/each}}
</ul>
