.blacklist-body {
  margin: 15px 0;
  font-family: $primary-font;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.blacklist-reason {
  padding: 5px 10px;
  border: 1px solid $gold-alt;
  margin-top: 5px;
  font-size: 11px;
}

.blacklist-disclaimer {
  margin-top: 10px;
  font-size: 11px;
  font-style: italic;
  color: $beige;
}

.modal-close {
  width: 100%;
  margin-top: 10px;
}

.credits-link-wrapper {
  margin-top: 15px;
  text-align: right;
}

.credits-link {
  color: $white;
  transition: color 0.2s ease;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $beige;
  }
}

.credits-link-logo {
  height: 30px;
  margin-left: 5px;
}

.pending-report-steps {
  padding-left: 17px;
  margin-bottom: 15px;

  li {
    &::after {
      content: ';';
    }

    &:last-child::after {
      content: '.';
    }
  }

  a {
    border-bottom: dotted 1px $white;
    color: $white;

    &:focus,
    &:hover {
      border-bottom: solid 1px $white;
      text-decoration: none;
    }
  }
}
