.changelog-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid $gold-alt;
  margin: #{-1 * $extension-y-padding} #{-1 * $extension-x-padding} 10px;
  background-color: $gold;
  color: $white;
}

.changelog-wrapper {
  h1 {
    margin: 10px 0;
    font-size: 20px;
    color: $white;
  }

  h2 {
    margin: 10px 0 5px;
    font-size: 15px;
    color: $white;
  }

  ul {
    margin-left: 16px;
    list-style: disc;
  }
}

.dismiss-button {
  width: 100%;
  margin-top: 10px;
}
