.alert-message {
  display: flex;
  align-items: center;
  padding: 8px;
  color: $white;

  &.is-alert {
    border: 1px solid $red-alt;
    background-color: $red;
  }

  &.is-warning {
    border: 1px solid $yellow-alt;
    background-color: $yellow;
  }

  &.is-success {
    border: 1px solid $green-alt;
    background-color: $green;
  }
}

.icon {
  margin-right: 6px;
}
