.container {
  border: 1px solid $blue-alt;
}

.header {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: $blue;
  font-family: $primary-font;
  font-size: 15px;
  color: $white;
  transition: background-color 0.2s ease;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: lighten($blue, 5%);
  }
}

.header-icon {
  width: auto;

  &.is-item {
    height: 25px;
    margin: 0 7px 0 0;
  }

  &.is-ascendancy {
    height: 40px;
    margin: -5px 7px -5px -5px;
  }
}

.header-label {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.body {
  overflow: hidden;
}

.trades {
  padding: 0;
  border-top: 1px solid $blue-alt;
  margin: 0;
  list-style: none;
}

.trade {
  display: flex;
  border-bottom: 1px solid rgba($blue-alt, 0.4);

  &:hover {
    .trade-actions {
      opacity: 1;
    }
  }
}

.trade-link {
  position: relative;
  flex: 1 1 auto;
  padding: 2px 5px;
  font-family: $primary-font;
  color: $white;
  cursor: pointer;

  &:hover,
  &:focus {
    &::before {
      opacity: 1;
    }
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba($gold-alt, 0.4), rgba($gold-alt, 0));
    transition: opacity 0.2s ease;
  }
}

.trade-actions {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.trade-action {
  border: 0;
  background-color: transparent;
  outline: none;
  color: rgba($white, 0.8);
  transition: color 0.2s ease;

  &:hover,
  &:focus {
    color: $white;
  }
}

.folder-actions {
  display: flex;
  align-items: center;
  width: calc(100% - 10px);
  margin: 5px;
}

.folder-actions-new-trade {
  flex: 1 1 auto;
}
