<div ...attributes>
  {{#if this.isLoading}}
    <div local-class="loader is-{{@size}}">
      <FaIcon
        local-class="loader"
        @icon="circle-notch"
        @spin={{true}}
      />
    </div>
  {{else}}
    <div local-class="loader-container">
      {{yield}}
    </div>
  {{/if}}
</div>
