.form-field {
  width: 100%;
  margin: 0;
}

.label {
  margin-bottom: 5px;
  font-family: $primary-font;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: $beige;
}

.helper {
  margin: 5px 0 0;
  font-size: 12px;
  font-weight: normal;
  color: rgba($beige, 0.8);
}
