.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 10px;
}

.brand {
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    text-decoration: none;

    .logo {
      transform: rotate(5deg);
    }
  }
}

.logo {
  transform: rotate(0);
  height: 30px;
  transition: transform 0.2s ease;
}

.title {
  display: flex;
  margin-left: 10px;
  font-family: $primary-font;
  font-size: 20px;
  color: $white;
}

.navigation-item {
  font-size: 22px;
  color: $white;
  transition: color 0.2s ease;

  &:hover,
  &:focus {
    color: rgba($white, 0.8);
  }
}
