<div local-class="container">
  <LinkTo local-class="brand" @route="bookmarks">
    <img
      local-class="logo"
      src={{image-resource-url "logo.svg"}}
    >

    <div local-class="title">
      {{! template-lint-disable no-bare-strings }}
      Better Trading
      {{! template-lint-enable no-bare-strings }}
    </div>
  </LinkTo>

  <nav local-class="navigation">
    <LinkTo local-class="navigation-item" @route="about">
      <FaIcon @icon="info-circle"/>
    </LinkTo>
  </nav>
</div>
