.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 10px;
}

.logo {
  height: 30px;
}

.action {
  opacity: 0.6;
  color: $white;
  transition: opacity 0.2s ease-in-out;

  &:hover,
  &:focus {
    opacity: 1;
  }
}
