.markdown-changelog {
  h1 {
    margin: 0 0 10px;
    font-size: 20px;
    color: $white;
  }

  h2 {
    margin: 10px 0 5px;
    font-size: 15px;
    color: $white;
  }

  ul {
    margin-left: 16px;
    list-style: disc;
    color: $white;
  }

  p {
    margin: 10px 0;
    color: $white;
  }

  a {
    color: $white;
    text-decoration: none;
    border-bottom: 1px dotted currentColor;

    &:hover,
    &:hover {
      text-decoration: none;
      border-bottom-style: solid;
    }
  }
}
