.container {
  border: 1px solid $blue-alt;

  &.is-expanded {
    .expansion-indicator {
      transform: rotate(180deg);
    }
  }
}

.expansion-wrapper {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  padding-right: 5px;
  cursor: pointer;

  &::after {
    display: block;
    content: '';
    width: 1px;
    height: 15px;
    margin-left: 10px;
    background-color: $blue-alt;
  }
}

.expansion-indicator {
  transform: rotate(0deg);
  align-items: center;
  transition: transform 0.2s ease;
}

.header {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: $blue;
  font-family: $primary-font;
  font-size: 15px;
  color: $white;
  transition: background-color 0.2s ease;
}

.header-icon {
  width: auto;

  &.is-item {
    height: 25px;
    margin: 0 7px 0 0;
  }

  &.is-ascendancy {
    height: 40px;
    margin: -5px 7px -5px -5px;
  }
}

.header-label {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-actions {
  display: flex;
  align-items: center;
}

.header-action {
  display: flex;
  align-items: center;
  padding: 0 5px;
  border: 0;
  background-color: transparent;
  outline: none;
}

.body {
  overflow: visible;

  &.is-animating {
    overflow: hidden;
  }
}

.trades {
  padding: 0;
  border-top: 1px solid $blue-alt;
  margin: 0;
  list-style: none;

  &.is-reordering {
    overflow: hidden;
  }
}

.trade {
  display: flex;
  position: relative;
  align-items: center;
  border-bottom: 1px solid rgba($blue-alt, 0.4);
  background-color: transparent;
  transition: background-color 0.2s ease;

  &:global(.is-dragging) {
    z-index: 1;
    background-color: $blue-alt;
  }
}

.trade-link {
  position: relative;
  flex: 1 1 auto;
  padding: 6px 7px;
  font-family: $primary-font;
  color: $white;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;

    &::before {
      opacity: 1;
    }
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba($gold-alt, 0.4), rgba($gold-alt, 0));
    transition: opacity 0.2s ease;
  }
}

.trade-link-completed {
  margin-right: 3px;
  font-size: 9px;
}

.trade-actions {
  display: flex;
  padding-right: 2px;
}

.trade-action {
  padding: 0;
  border: 0;
  margin-right: 10px;
  background-color: transparent;
  outline: none;
  color: rgba($white, 0.8);
  transition: color 0.2s ease;

  &:hover,
  &:focus {
    color: $white;
  }
}

.folder-actions {
  display: flex;
  align-items: center;
  width: calc(100% - 10px);
  margin: 5px;
}

.folder-actions-new-trade {
  flex: 1 1 auto;
}

.deletion-modal-confirmation {
  line-height: 1.7;

  strong {
    color: $white;
  }
}

.deletion-modal-actions {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
