.results {
  button.refresh,
  button.copy,
  button.searchBy {
    display: block !important;
    transition: opacity 0.2s ease;
    opacity: 0.6;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}
