.pinned-items {
  display: grid;
  grid-gap: 10px;
}

.item-wrapper {
  background-color: #000;

  :global(.itemPopupContainer) {
    margin: 0;
    background-color: #000;
  }

  :global(.itemPopupAdditional) {
    padding: 3px 0;
    background-color: #000;

    :global(.s) {
      width: 33.33%;
      text-align: center;
    }

    :global(.lc) {
      color: #7f7f7f;

      :global(.colourDefault),
      :global(.colourAugmented) {
        &::before {
          content: ':';
          margin-right: 3px;
        }
      }

      :global(.colourDefault) {
        color: #fff;
      }

      :global(.colourAugmented) {
        color: #88f;
      }
    }
  }

  .item-actions {
    display: flex;
    padding: 10px;
    background-color: #000;
  }

  .item-scroll {
    flex: 1 1 auto;
  }

  .sockets-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #000;
  }

  :global(.sockets) {
    display: inline-flex;
    position: relative;
    margin: 0 auto;

    :global(.socket) {
      z-index: 1;
      width: 30px;
      height: 30px;
      margin: 10px 9px;

      &:nth-child(0) {
        top: 5px;
        left: 5px;
      }

      &:nth-child(1) {
        top: 5px;
        left: 5px;
      }
    }

    :global(.socketStr) {
      background: url('/image/gen/socket.png') no-repeat;
      background-position: -2.5px -107.5px;
    }

    :global(.socketDex) {
      background: url('/image/gen/socket.png') no-repeat;
      background-position: -107.5px -72.5px;
    }

    :global(.socketInt) {
      background: url('/image/gen/socket.png') no-repeat;
      background-position: -2.5px -2.5px;
    }

    :global(.socketGen) {
      background: url('/image/gen/socket.png') no-repeat;
      background-position: -37.5px -107.5px;
    }

    :global(.socketAbyss) {
      width: 34px;
      height: 34px;
      margin: 8px 9px;
      background: url('/image/gen/socket.png') no-repeat;
      background-position: -70.5px -70.5px;
    }

    :global(.socketDelve) {
      background: url('/image/gen/socket.png') no-repeat;
      background-position: -107.5px -37.5px;
    }

    :global(.socketLink) {
      position: absolute;
      z-index: 2;
      top: 16px;
      width: 38px;
      height: 15px;
      background: url('/image/gen/socket.png') no-repeat;
      background-position: 0 -140px;
    }

    :global(.socketLink0) {
      left: 29px;
    }

    :global(.socketLink1) {
      left: 77px;
    }

    :global(.socketLink2) {
      left: 125px;
    }

    :global(.socketLink3) {
      left: 173px;
    }

    :global(.socketLink4) {
      left: 221px;
    }
  }

  :global(.price) {
    display: flex;
    justify-content: center;
    padding: 5px 10px 10px;
    background-color: #000;
    color: #a38d6d;

    img {
      height: 25px;
    }

    br {
      display: none;
    }

    :global(.currency-text) span {
      display: none;
    }

    :global(.price-label) {
      display: none;
    }
  }
}
