.pinned-items {
  display: grid;
  grid-gap: 10px;
}

.item-wrapper {
  background-color: #000;

  :global(.itemPopupContainer) {
    margin: 0;
    background-color: #000;
  }

  :global(.itemPopupAdditional) {
    padding: 3px 0;
    background-color: #000;

    :global(.s) {
      width: 33.33%;
      text-align: center;
    }

    :global(.lc) {
      color: #7f7f7f;

      :global(.colourDefault),
      :global(.colourAugmented) {
        &::before {
          content: ':';
          margin-right: 3px;
        }
      }

      :global(.colourDefault) {
        color: #fff;
      }

      :global(.colourAugmented) {
        color: #88f;
      }
    }
  }

  .item-actions {
    display: flex;
    padding: 10px;
    background-color: #000;
  }

  .item-scroll {
    flex: 1 1 auto;
  }

  .rendered-item-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #000;
  }

  :global(.newItemContainer .sockets) {
    display: block;
  }
  :global(.price) {
    display: flex;
    justify-content: center;
    padding: 5px 10px 10px;
    background-color: #000;
    color: #a38d6d;

    img {
      height: 25px;
    }

    br {
      display: none;
    }

    :global(.currency-text) span {
      display: none;
    }

    :global(.price-label) {
      display: none;
    }
  }
}
