.import-preview {
  display: flex;
  align-items: center;
}

.import-preview-title {
  margin-left: 10px;
}

.invalid-code {
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid $red-alt;
  background-color: $red;
}

.invalid-code-icon {
  margin-right: 3px;
}
